* {
    padding: 10px;
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}

h1 {
    background-color: rgb(190, 253, 232);
    font-family: "Shadows Into Light";
    width: 60vh;

}

.titulo {
    background-color: rgb(255, 255, 255);
    font-family: "Dancing Script";
    
    
}


.container {
    position: relative;
    font-size: 25px;
    display: flex;
    flex-direction: column;
 
    align-items: flex-start;
    
}

.teste {
    background-image: url(/img/img02.jpg);
}

.container::before {
    content: "";
 background-image: url('../img/img02.jpg');
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3; 
    z-index: -1; 
}

